.searchContainer {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.searchPage {
    display: flex;
    padding: 15px;
    flex-grow:1
}
.searchInput {
    width: 50%;

}

